@page
@model PersonalSite_ASP.Pages.Blog.AllPostsModel
@{
    ViewData["Title"] = "AllPosts";
    Layout = "~/Pages/Shared/_BlogLayout.cshtml";
}

<h1>All Posts</h1>

<table class="w3-table w3-border w3-bordered">
    <thead>
        <tr>
            <th class="w3-border">
                Title
            </th>
            <th class="w3-border">
                Posted
            </th>
            <th class="w3-border">
                Edited
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post.Reverse())
        {
            <tr>
                <td class="w3-border">
                    @item.Title
                </td>
                <td class="w3-border">
                    @item.TimePosted
                </td>
                <td class="w3-border">
                    @item.TimeEdited
                </td>
            </tr>
            <tr>
                <td>
                    <a class="w3-button w3-block w3-border" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="w3-button w3-block w3-border" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a class="w3-button w3-block w3-border" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>