@page
@model PersonalSite_ASP.Pages.Blog.AllPostsModel
@{
    ViewData["Title"] = "AllPosts";
    Layout = "~/Pages/Shared/_BlogLayout.cshtml";
}

<h1>All Posts</h1>

<table class="w3-table w3-border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].TimeEdited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeEdited)
                </td>
                <td>
                    <a class="w3-button w3-tiny w3-border" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="w3-button w3-tiny w3-border" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a class="w3-button w3-tiny w3-border" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>