@page
@model PersonalSite_ASP.Pages.Blog.DeleteModel

@{
    Layout = "~/Pages/Shared/_BlogLayout.cshtml";
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <form method="post">
        <input type="hidden" asp-for="Post.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="./Index">Back to List</a>
    </form>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.TimePosted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.TimePosted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.TimeEdited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.TimeEdited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Post.Body))
        </dd>
    </dl>
</div>
