@page
@model PersonalSite_ASP.Pages.Blog.IndexModel

@{
    Layout = "~/Pages/Shared/_BlogLayout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].TimeEdited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeEdited)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
